@use "light";
@use "vendors/normalize";
@import "ag-grid-community/styles/ag-grid.min.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@import "@shoelace-style/shoelace/dist/themes/light.css";
@import "@angular/cdk/overlay-prebuilt.css";

html, body {
  height: 100%;
  font: 16px var(--uns-font-sans);
  font-weight: var(--uns-font-weight-normal);
  background-color: var(--docs-background-color);
  line-height: var(--uns-line-height-normal);
  color: var(--uns-color-neutral-900);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
