@use "light";


html, body {
  height: 100%;
  font: 1rem var(--uns-font-sans);
  font-weight: var(--uns-font-weight-normal);
  background-color: var(--docs-background-color);
  line-height: var(--uns-line-height-normal);
  color: var(--uns-color-neutral-900);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "slnt" 0, "wght" 550;

  .route-lab-page-gsap {
    height: 300vh;


    .uns-main {
      background-color: var(--uns-color-gray-900);
      background-image:
              linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
              linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
              linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
              linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
      background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
      background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
  }
}



