@use "light";


html, body {
  height: 100%;
  font: 1rem var(--uns-font-sans);
  font-weight: var(--uns-font-weight-normal);
  background-color: var(--docs-background-color);
  line-height: var(--uns-line-height-normal);
  color: var(--uns-color-neutral-900);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "slnt" 0, "wght" 550;
}

