@import "@shoelace-style/shoelace/dist/themes/light.css";

:host {
  display: block;
  height: 100%;
}

.uns-nav-drawer {
  --unstyled-drawer-shadow: none;
  --unstyled-drawer-border-inline-end: 1px solid var(--uns-color-gray-200);
  --unstyled-drawer-z-index: 500;
}



.uns-nav-drawer-header {
  padding: 1rem;
  padding-block-end: 0;
}

.uns-page {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.uns-app-header {
  padding: 1rem;
  box-shadow: none;
  border-block-end: 1px solid var(--uns-color-gray-200);
  display: flex;
  align-items: center;

  header {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .uns-app-header-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

}

.uns-container {
  min-height: 100%;
  display: flex;
  flex: 1 1 auto;
  &.c1 {
    flex-direction: column;
  }
}

.uns-aside {
  display: block;
  flex: 0 0 auto;
}

.uns-aside unstyled-drawer {
  height: 100%;
}

.uns-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.usn-inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.usn-inner-container > div {
  display: flex;
  flex-direction: column;

  position: absolute;
  inset: 0;
  overflow-y: auto !important;
}

.example-menu {
  width: 100%;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 0.375rem 0;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 100%;

  user-select: none;
  min-width: 4rem;
  line-height: 2.25rem;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}



