<!-- Button to toggle the overlay -->
<button (click)="toggleOverlay()" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  {{ isOpen ? "Close Overlay" : "Open Overlay" }}
</button>

<!-- Overlay template -->
<ng-template
  [cdkConnectedOverlayMinWidth]="200"
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="overlay"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (backdropClick)="closeOverlay()"
>
  <!-- Overlay content -->
  <div [@openClose]="isOpen ? 'open' : 'closed'" tabindex="0" cdkFocusInitial>
    <ng-content></ng-content>

    <!-- Button to close the overlay -->
    <button (click)="closeOverlay()">Close Overlay</button>
  </div>
</ng-template>
