<div class="uns-page">
  <div class="uns-container">
    <div class="uns-aside">
      <unstyled-drawer
        [name]="'rightDrawer'"
        [opened]="true"
        [position]="'right'"
        [transparentOverlay]="false">
        <cdk-virtual-scroll-viewport itemSize="{{numbers}}" class="example-viewport">
          <li *cdkVirtualFor="let number of numbers">
            {{ number }}
          </li>
        </cdk-virtual-scroll-viewport>
      </unstyled-drawer>
    </div>

    <div class="uns-main">
      <div class="uns-header">
        <header>
          Header
        </header>
      </div>
      <div class="usn-inner-container">
        <div>
          <ul>
            <li *ngFor="let number of numbers">
              {{ number }}
            </li>
          </ul>
        </div>
      </div>
      <div class="uns-footer">
        <div class="textarea-container">
          <textarea
            placeholder="Search for..."
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3"
            class="cdk-text-field-autofill-monitored" autofocus></textarea>
        </div>
      </div>
    </div>
  </div>
</div>






