/* Root navigation specific */
uns-horizontal-navigation {

    .uns-horizontal-navigation-wrapper {
        display: flex;
        align-items: center;

        /* Basic, Branch */
        uns-horizontal-navigation-basic-item,
        uns-horizontal-navigation-branch-item {

            @screen sm {

                &:hover {

                    .uns-horizontal-navigation-item-wrapper {
                        @apply bg-hover;
                    }
                }
            }

            .uns-horizontal-navigation-item-wrapper {
                border-radius: 0.25rem;
                overflow: hidden;

                .uns-horizontal-navigation-item {
                    padding: 0 1rem;
                    cursor: pointer;
                    user-select: none;

                    .uns-horizontal-navigation-item-icon {
                        margin-right: 0.75rem;
                    }
                }
            }
        }

        /* Basic - When item active (current link) */
        uns-horizontal-navigation-basic-item {

            .uns-horizontal-navigation-item-active,
            .uns-horizontal-navigation-item-active-forced {

                .uns-horizontal-navigation-item-title {
                    @apply text-primary #{'!important'};
                }

                .uns-horizontal-navigation-item-subtitle {
                    @apply text-primary-400 #{'!important'};

                    .dark & {
                        @apply text-primary-600 #{'!important'};
                    }
                }

                .uns-horizontal-navigation-item-icon {
                    @apply text-primary #{'!important'};
                }
            }
        }

        /* Branch - When menu open */
        uns-horizontal-navigation-branch-item {

            .uns-horizontal-navigation-menu-active,
            .uns-horizontal-navigation-menu-active-forced {

                .uns-horizontal-navigation-item-wrapper {
                    @apply bg-hover;
                }
            }
        }

        /* Spacer */
        uns-horizontal-navigation-spacer-item {
            margin: 0.75rem 0;
        }
    }
}

/* Menu panel specific */
.uns-horizontal-navigation-menu-panel {

    .uns-horizontal-navigation-menu-item {
        height: auto;
        min-height: 0;
        line-height: normal;
        white-space: normal;

        /* Basic, Branch */
        uns-horizontal-navigation-basic-item,
        uns-horizontal-navigation-branch-item,
        uns-horizontal-navigation-divider-item {
            display: flex;
            flex: 1 1 auto;
        }

        /* Divider */
        uns-horizontal-navigation-divider-item {
            margin: 0.5rem -1rem;

            .uns-horizontal-navigation-item-wrapper {
                height: 0.063rem;
                box-shadow: 0 0.063rem 0 0;
            }
        }
    }
}

/* Navigation menu item common */
.uns-horizontal-navigation-menu-item {

    /* Basic - When item active (current link) */
    uns-horizontal-navigation-basic-item {

        .uns-horizontal-navigation-item-active,
        .uns-horizontal-navigation-item-active-forced {

            .uns-horizontal-navigation-item-title {
                @apply text-primary #{'!important'};
            }

            .uns-horizontal-navigation-item-subtitle {
                @apply text-primary-400 #{'!important'};

                .dark & {
                    @apply text-primary-600 #{'!important'};
                }
            }

            .uns-horizontal-navigation-item-icon {
                @apply text-primary #{'!important'};
            }
        }
    }

    .uns-horizontal-navigation-item-wrapper {
        width: 100%;

        &.uns-horizontal-navigation-item-has-subtitle {

            .uns-horizontal-navigation-item {
                min-height: 56px;
            }
        }

        .uns-horizontal-navigation-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 48px;
            width: 100%;
            font-size: 13px;
            font-weight: 500;
            text-decoration: none;

            .uns-horizontal-navigation-item-title-wrapper {

                .uns-horizontal-navigation-item-subtitle {
                    font-size: 12px;
                }
            }

            .uns-horizontal-navigation-item-badge {
                margin-left: auto;

                .uns-horizontal-navigation-item-badge-content {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: 600;
                    white-space: nowrap;
                    height: 20px;
                }
            }
        }
    }
}
